{% load i18n %}
{% if not table.is_reloading %}
<div class="table-container">
{% endif %}
	<div id="{{ table.html_id }}" class="{{ table.css_class }}" style="margin-bottom: 0;" data-ordering="{{ table.ordering_column_index }}" data-ordering-type="{{ table.ordering_type }}">
		<div role="grid" id="" class="dataTables_wrapper form-inline no-footer">
			<div class="table-header clearfix">
				<div class="table-caption">{{ table.title }}</div>
				<div class="DT-lf-right">
					<div class="DT-per-page tables-DT-per-page">
						<div class="dataTables_length" id="">
							<label>{% trans 'On page' %}:
								<select name="table_size" aria-controls="experts" class="form-control input-sm">
									{% for v in table.on_page_options %}
										<option value="{{ v }}" {% if table.on_page == v %}selected{% endif %}>{{ v }}</option>
									{% endfor %}
								</select>
							</label>
						</div>
					</div>
					{% if table.has_filter_function %}
						<div class="DT-search">
							<div id="" class="dataTables_filter">
								<label>
									<input name="search" type="search" class="form-control input-sm" aria-controls="experts" placeholder="{% trans 'Search' %}..." {% if table.query %}value="{{ table.query }}"{% endif %}>
								</label>
							</div>
						</div>
					{% endif %}
				</div>
			</div>
			<table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered dataTable no-footer" aria-describedby="experts_info">
				<thead>
					<tr role="row">
						{% for title, ordering in table.columns%}
							<th class="{% if ordering != None %}sorting sorting{% endif %}{% if forloop.counter0 == table.ordering_column_index %}{{ table.ordering_type }}{% endif %}" tabindex="0" data-ordering="{{ forloop.counter0 }}" data-ordering-type="{% if forloop.counter0 == table.ordering_column_index %}{{ table.ordering_type }}{% endif %}" aria-controls="tabela" rowspan="1" colspan="1" aria-label="{{ title }}: {% trans 'activete to sort' %}">
								{{ title }}
							</th> {# sorting_asc sorting_desc #}
						{% endfor %}
					</tr>
				</thead>
				<tbody>
					{{ table.render_rows }}
				</tbody>
			</table>
			<div class="table-footer clearfix">
				<div class="DT-label">
					<div class="dataTables_info" id="" role="alert" aria-live="polite" aria-relevant="all">
						{% trans 'Results from' %} {{ table.page.start_index }} {% trans 'to' %} {{ table.page.end_index }} / {{ table.paginator.count }}
					</div>
				</div>
				<div class="DT-pagination">
					<div class="dataTables_paginate paging_simple_numbers" id="">
						<ul class="pagination">
							<li class="paginate_button previous {% if not table.page.has_previous %}disabled{% endif %}" aria-controls="experts" tabindex="0" id="">
								<a {% if table.page.has_previous %} href="" class="page-select-btn" data-page-index="{{ table.page.previous_page_number }}{% endif %}">{% trans 'Previous' %}</a>
							</li>
							{% for index in table.paginator.pages_range %}
							<li class="paginate_button {% if table.page_num == index %}active{% endif %} {% if index == '...' %}disabled{% endif %}" tabindex="0">
								<a href="#" class="page-select-btn" data-page-index="{{ index }}" {% if index == '...' %}disabled{% endif %}>{{ index }}</a>
							</li>
							{% endfor %}
							<li class="paginate_button next {% if not table.page.has_next %}disabled{% endif %}" aria-controls="experts" tabindex="0" id="">
								<a {% if table.page.has_next %} href="" class="page-select-btn" data-page-index="{{ table.page.next_page_number }}"{% endif %}>{% trans 'Next' %}</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
{% if not table.is_reloading %}
</div>
	<script>
		ajaxDatatables.setTable($('#{{ table.html_id }}'), '{{ table.to_json|safe }}');
	</script>
{% endif %}